
{% load static %}

<link rel="stylesheet" href="{% static 'css/base/connect.css' %}">

<div class="main">
    <h2 data-value="Lets Connect">Lets Connect</h2>
    <h6 class="question-text">If you got any Questions let me know!</h6>

    <form action="" class="contact-form" id="contact-form">

        <input type="text" placeholder="Your name" class="name" required>
        <input type="email" name="" id="" placeholder="Email" class="email" required>
        <textarea name="" id="" cols="30" rows="10" placeholder="Write me a message ;)" class="message" required></textarea>
        <input type="submit" value="Send" class="send-btn">

    </form>
</div>