{% load static %}

<link rel="stylesheet" href="{% static 'css/base/home.css' %}">

<div class="highlights">

    <!-- <div class="cols cols0" id="cols0">
        <div class="textbox" id="textbox">
            <span class="topline">Hey</span>
            <br>
            <h1>I'm <span class="multiText">Leon</span></h1>
            <br>
            <br>
            <p> I am currently studying chemistry and chemical engineering and I really like to write some code and take some pictures im my freetime.</p>    
        </div>
        
    </div>
               
    <div class="cols cols1" id="cols1">
        <div class="imgbox" id="imgbox">
            <img class="splash" src="{% static '/img/images/splash3.png' %}" id="splash">
            <img class="profile" src="{% static '/img/images/FullWidth.JPG' %}">
            
            
        </div>
    </div>
     -->

     <div class="columns">
        <div class="column1">
            <div class="textbox" id="textbox">
                <span class="topline">Hey</span>
                <br>
                <h1>I'm <span class="multiText">Leon</span></h1>
                <br>
                <br>
                <p> I am currently studying chemistry and chemical engineering and I really like to write some code and take some pictures im my freetime.</p>    
            </div>
        </div>
        <div class="column2" >
            <img class="profilepic" id="profilepic" src="{% static '/img/images/FullWidth.JPG' %}">
        </div>
     </div>

    <div class="btns" id="btns">
        <a target="_blank" rel="noopener noreferrer" href="/"><button>download cV</button></a>            
        <a href="#connect"><button>lets connect</button></a>
    </div>

</div>    

<div class="banner"></div>


<script defer src="{% static 'js/index.js' %}"></script> 



<!-- splashes -->
            <!-- https://www.pngall.com/de/paint-splash-png -->