
{% load static %}

<link rel="stylesheet" href="{% static 'css/base/skills.css' %}">


<div class="main">
    <h2 data-value="My Skills">My Skills</h2>
    <h6>Here I want to show <span>you</span> some <span>Skills</span> I aquired over time and some <span>courses</span> I took.</h6>
</div>

<div class="progressBoxs grid">
    <!-- skills -->
    <div class="grid_skills" id="grid_skills">

        <h1>Skills</h1>
        
        <div class="skillsItem">
            <button type="button" class="collapsible" id="the-button0">
                <div class="progress_name">
                    <span>HTML</span>
                    <span>90% <ion-icon class="chevron-down" name="chevron-down-outline"></ion-icon></span>

                </div>

                <div class="progress">
                    <div class="progress_bar hiddenskillbar" style="width: 90%;"></div>
                </div>
            </button>
            
            <div class="content">
                <h4><p> HTML is the fundamental language for building web pages. Using tags, it creates the structure and content of websites, defining elements like text, images, and links.</p></h4>
                <p> I've used HTML to build web pages, creating content and organizing information using its tags. It's been instrumental in crafting user-friendly and responsive online interfaces. </p>
            </div>
        </div>
        
        <div class="skillsItem">
            <button type="button" class="collapsible" id="the-button1">
                <div class="progress_name">
                    <span>CSS</span>
                    <span>80% <ion-icon class="chevron-down" name="chevron-down-outline"></ion-icon></span>

                </div>
                <div class="progress">
                    <div class="progress_bar hiddenskillbar" style="width: 80%;"></div>
                </div>
            </button>

            <div class="content">
                <h4><p>CSS styles web pages by defining the appearance and layout of HTML elements on websites.</p></h4>
                <p>CSS has enabled me to enhance the look and layout of websites by defining styles for HTML elements. It's given me the tools to create visually appealing web pages across different devices and experiment with various design approaches to improve user experiences.</p>
            </div>
        </div>

        <div class="skillsItem">
            <button type="button" class="collapsible" id="the-button3">
                <div class="progress_name">
                    <span>Python</span>
                    <span>75% <ion-icon class="chevron-down" name="chevron-down-outline"></ion-icon></span>

                </div>
                <div class="progress">
                    <div class="progress_bar hiddenskillbar" style="width: 74%;"></div>
                </div>
            </button>

            <div class="content">
                <h4><p>Python is a versatile, high-level programming language known for its simplicity, readability, and vast application across various domains such as web development, data analysis, artificial intelligence, and automation.</p></h4>
                <p>My experience with Python has been incredibly rewarding. This versatile language has empowered me to work across diverse domains, from web development to data analysis and machine learning. Python's extensive libraries and readability have made it an ideal choice for solving complex problems efficiently. Its flexibility and wide-ranging applications have allowed me to craft robust solutions, automate tasks, and develop sophisticated algorithms.</p>
            </div>
        </div>
        
        <div class="skillsItem">
            <button type="button" class="collapsible" id="the-button2">
                <div class="progress_name">
                    <span>SQLite</span>
                    <span>40% <ion-icon class="chevron-down" name="chevron-down-outline"></ion-icon></span>

                </div>
                <div class="progress">
                    <div class="progress_bar hiddenskillbar" style="width: 40%;"></div>
                </div>
            </button>

            <div class="content">
                <h4><p>SQLite is a compact and efficient database system often used in embedded applications due to its simplicity and ease of integration.</p></h4>
                <p>I've used SQLite for managing data in different projects, benefiting from its lightweight nature and seamless integration within applications, making data management efficient without requiring a separate server.</p>
            </div>

        </div>
               
        
        <div class="skillsItem">
            <button type="button" class="collapsible" id="the-button4">
                <div class="progress_name">
                    <span>JavaScript</span>
                    <span>35% <ion-icon class="chevron-down" name="chevron-down-outline"></ion-icon></span>

                </div>
                <div class="progress">
                    <div class="progress_bar hiddenskillbar" style="width: 35%;"></div>
                </div>
            </button>

            <div class="content">
                <h4><p>JavaScript is a versatile programming language primarily used for web development, allowing for dynamic and interactive elements on websites, enhancing user experiences across various browsers.</p></h4>
                <p>JavaScript has enabled me to create dynamic and interactive elements on web pages, enhancing user experiences through responsive applications and seamless interactions, utilizing its versatile libraries and frameworks.(also have a look in courses to see my finished 70h JavaScript course/login)</p>
            </div>
        </div>
        
        
    </div>
<!-- courses -->
    <div class="grid_courses">

        <h1>Courses</h1>

        <div class="courseItem">
            <button type="button" class="collapsible" id="the-button7">
                <div class="progress_name">
                    <span>Python Komplett-Kurs</span>
                    <span>100%  <ion-icon class="chevron-down" name="chevron-down-outline"></ion-icon></span>
                </div>
                <div class="progress">
                    <div class="progress_bar hiddenskillbar" style="width: 100%;"></div>
                </div>
            </button>

            <div class="content">
                <h4>Dieser Python-Kurs umfasst:</h4>
                <p>Grundlagen, Webapps, Crawler, Numpy, Pandas, Module, OOP, IO, Machine Learning, Deep Learning</p>
                <a href="../../FullEthicalHackingCourseI.pdf"></a>
            </div>
        </div>

        <div class="courseItem">
            <button type="button" class="collapsible" id="the-button7">
                <div class="progress_name">
                    <span>Full Ethical Hacking Course</span>
                    <span>100%  <ion-icon class="chevron-down" name="chevron-down-outline"></ion-icon></span>
                </div>
                <div class="progress">
                    <div class="progress_bar hiddenskillbar" style="width: 100%;"></div>
                </div>
            </button>

            <div class="content">
                <h4>Learn all about ethical hacking and penetration testing.</h4>
                <p>Video: 15h</p>
                <a href="../../FullEthicalHackingCourseI.pdf"></a>
            </div>
        </div>

        <div class="courseItem">
            <button type="button" class="collapsible" id="the-button9">
                <div class="progress_name">
                    <span>Full Web Ethical Hacking Course</span>
                    <span>75%  <ion-icon class="chevron-down"  name="chevron-down-outline"></ion-icon></span>
                </div>
                <div class="progress">
                    <div class="progress_bar hiddenskillbar" style="width: 76%;"></div>
                </div>
            </button>

            <div class="content">
                <h4>Full Web Ethical Hacking Course</h4>
                <p>Learn all about web application penetration testing!</p>
            </div>
        </div>

        <div class="courseItem">
            <button type="button" class="collapsible" id="the-button5">
                <div class="progress_name">
                    <span>The Complete JavaScript Course 2023!</span>
                    <span>35% <ion-icon class="chevron-down" name="chevron-down-outline"></ion-icon></span>

                </div>
                <div class="progress">
                    <div class="progress_bar hiddenskillbar" style="width: 40%;"></div>
                </div>
            </button>

            <div class="content">
                <h4>The modern JavaScript course for everyone!</h4>
                <p> Master JavaScript with projects, challenges and theory. Many courses in one!</p>
                <p>Level: All Level</p>
                <p>Video: 68.5 h</p>
            </div>
        </div> 
        
        <div class="courseItem">
            <button type="button" class="collapsible" id="the-button8">
                <div class="progress_name">
                    <span>Learn Ethical Hacking From Scratch</span>
                    <span>12%  <ion-icon class="chevron-down" name="chevron-down-outline"></ion-icon></span>
                </div>
                <div class="progress">
                    <div class="progress_bar hiddenskillbar" style="width: 12%;"></div>
                </div>
            </button>

            <div class="content">
                <h4>Become an ethical hacker that can hack computer systems like black hat hackers and secure them like security experts</h4>
                <p>Video: 16 h</p>
            </div>
        </div>

        
        

        <div class="courseItem">
            <button type="button" class="collapsible" id="the-button6">
                <div class="progress_name">
                    <span>Beginning C++ Programming</span>
                    <span>10% <ion-icon class="chevron-down" name="chevron-down-outline"></ion-icon></span>

                </div>
                <div class="progress">
                    <div class="progress_bar hiddenskillbar" style="width: 10%;"></div>
                </div>
            </button>

            <div class="content">
                <h4>Which programming language is often seen as a badge of honor among software developers? <br> C++</h4>
                <p>Obtain Modern C++ Object-Oriented Programming (OOP) and STL skills. C++14 and C++17 covered. C++20 info see below.</p>
                <p>Level: All Level</p>
                <p>Video: 46 h</p>
            </div>
        </div>
        
    </div>            
</div>

<div class="banner2"></div>